/************************************/

/*CSS FOR MAIN PAGE - SHOPPING PAGE */

/************************************/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900);
body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  font-weight: 400px;
}

/***********************/

/*CSS FOR HEADER_TOP  */

/**********************/

.header_top {
  background-color: green !important;
}

.contactinfo ul li:first-child {
  margin-left: -30px;
}

.contactinfo ul li a {
  font-size: 12px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.contactinfo ul li a:hover {
  background: inherit;
}

.social-icons ul li a {
  border: 0 none;
  border-radius: 0;
  color: white;
  padding: 0px;
}

.social-icons ul li {
  display: inline-block;
}

.social-icons ul li a i {
  padding: 11px 15px;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover {
  color: #fff;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.fa-facebook:hover {
  background: green;
}

.fa-twitter:hover {
  background: green;
}

.fa-google-plus:hover {
  background: green;
}

/*************************************/

/***********CSS FOR HEADER MIDDLE*****/

/*************************************/

.header-middle .container .row {
  border-bottom: 1px solid #f5f5f5;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.header-middle .container .row .col-sm-4 {
  padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
  padding-right: 0;
}

.shop-menu ul li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-menu ul li:last-child {
  padding-right: 0;
}

.shop-menu ul li a {
  background: #FFFFFF;
  color: green;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 325;
  padding: 0;
  padding-right: 0;
  margin-top: 10px;
}

.shop-menu ul li a i {
  margin-right: 3px;
}

.shop-menu ul li a:hover {
  color: green;
  background: #fff;
}

/*************************************/

/***********CSS FOR HEADER BOTTOM*****/

/*************************************/

.btn-group.open .dropdown-toggle {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus {
  background-color: #FE980F;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.header-bottom {
  padding-bottom: 30px;
  padding-top: 30px;
}

.navbar-collapse.collapse {
  padding-left: 0;
}

.mainmenu ul li {
  padding-right: 15px;
  padding-left: 15px;
}

.mainmenu ul li:first-child {
  padding-left: 0px;
}

.mainmenu ul li a {
  color: green;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  padding: 0;
  padding-bottom: 10px;
}

.mainmenu ul li a:hover {
  background: none;
  color: mediumaquamarine;
}

/*  Dropdown menu*/

.navbar-header .navbar-toggle .icon-bar {
  background-color: green;
}

.nav.navbar-nav>li:hover>ul.sub-menu {
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}

ul.sub-menu {
  position: absolute;
  top: 30px;
  left: 0;
  background: green;
  opacity: 0.7;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 220px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 999;
}

.navbar-nav li ul.sub-menu li {
  padding: 10px 20px 0;
}

.navbar-nav li ul.sub-menu li:last-child {
  padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a {
  color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover {
  color: mediumaquamarine;
}

.fa-angle-down {
  padding-left: 5px;
}

/***************************************************/

/*******************CART***************************/

/**************************************************/

.breadcrumbs {
  position: relative;
}

.breadcrumbs .breadcrumb {
  background: transparent;
  margin-bottom: 30px;
  padding-left: 0;
}

.breadcrumbs .breadcrumb li a {
  background: green;
  color: #FFFFFF;
  padding: 3px 7px;
}

#cart_items .cart_info {
  border: 1px solid #E6E4DF;
  margin-bottom: 50px
}

#cart_items .cart_info .cart_menu {
  background: green;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

#cart_items .cart_info .table.table-condensed thead tr {
  height: 51px;
}

#cart_items .cart_info .table.table-condensed tr {
  border-bottom: 1px solid#F7F7F0
}

#cart_items .cart_info .table.table-condensed tr:last-child {
  border-bottom: 0
}

.cart_info table tr td {
  border-top: 0 none;
  vertical-align: inherit;
}

#cart_items .cart_info .image {
  padding-left: 30px;
}

#cart_items .cart_info .cart_description h4 {
  margin-bottom: 0
}

#cart_items .cart_info .cart_description h4 a {
  color: green;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#cart_items .cart_info .cart_description p {
  color: #696763;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#cart_items .cart_info .cart_price p {
  color: green;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#cart_items .cart_info .cart_total_price {
  color: green;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.cart_product {
  display: block;
  margin: 15px -70px 10px 25px;
}

.cart_quantity_button a {
  background: #F0F0E9;
  color: #696763;
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  width: 35px;
  float: left;
}

.cart_quantity_input {
  color: #696763;
  float: left;
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.cart_delete {
  display: block;
  margin-right: -12px;
  overflow: hidden;
}

.cart_delete a {
  background: #F0F0E9;
  color: #FFFFFF;
  padding: 5px 7px;
  font-size: 16px
}

.cart_delete a:hover {
  background: green
}

.cart_order_price {
  color: green;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.cart_stock {
  color: red;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/*******************************************************/

/********************CONTACT PAGE**********************/

/******************************************************/

.contact-form {
  background: green;
  margin-top: 3%;
  margin-bottom: 5%;
  width: 70%;
  opacity: 0.95;
}

.contact-form .form-control {
  border-radius: 1rem;
}

.contact-image {
  text-align: center;
}

.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}

.contact-form form {
  padding: 14%;
}

.contact-form form .row {
  margin-bottom: -7%;
}

.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: white;
}

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

/*************************************************/

/*******************PRODUCTS**********************/

/*************************************************/

.fancy {
  line-height: 0.5;
  text-align: center;
  color: green;
  font-weight: bold;
  margin-top: 7px;
  font-family: 'Cinzel Decorative', cursive;
}

.fancy span {
  display: inline-block;
  position: relative;
}

.fancy span:before, .fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid green;
  border-top: 1px solid green;
  top: 0;
  width: 600px;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

/*************************************************/
/**************PRODUCTS**************************/
/*************************************************/
.features_items{
  overflow:hidden;
  height: auto;
  width: 90%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
  margin-left: 40px;
}

.product-image-wrapper{
	border:1px solid #F7F7F5;
	overflow: hidden;
	margin-bottom:30px;
}

.single-products {
  position: relative;
}

.new, .sale {
  position: absolute;
  top: 0;
  right: 0;
}

.productinfo h2{
	color: green;
	font-size: 24px;
	font-weight: 700;
}
.product-overlay h2{
	color: #fff;
	font-size: 16px;
	font-weight: 700;
}


.productinfo p{
  font-size: 13px;
  font-weight: bold;
  color: gray;
  font-family: 'Montserrat', sans-serif;
}

.productinfo img{
  width: 100%;
}

.productinfo{
 position:relative;
}

.product-overlay {
  background: green;
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  transition: height 500ms ease 0s;
  width: 100%;
  display: block;
  opacity: 0.95;
}

.single-products:hover .product-overlay {
  display:block;
  height:100%;
}


.product-overlay .overlay-content {
  bottom: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.product-overlay .add-to-cart {
  background:#fff;
  border: 0 none;
  border-radius: 0;
  color: green;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
  background:#fff;
  color: green;
}


.product-overlay p{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
}



.add-to-cart {
  background:#F5F5ED;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
}

.add-to{
  margin-bottom: 10px;
}

.add-to-cart i{
	margin-right:5px;
}

.add-to-cart:hover {
  background: green;
  color: #FFFFFF;
}

.choose {
  border-top: 1px solid #F7F7F0;
}

.choose ul li a {
  color: #B3AFA8;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}

.choose ul li a i{
	margin-right:5px;
}

.choose ul li a:hover{
	background:none;
	color:green;
}

.category-tab {
  overflow: hidden;
}

.image-container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}